
<div class="container mt-4">
  <div class="contact-form">
        <h2 class="text-center m-3">Contactez Nous</h2>
    <%= simple_form_for :form_data do |f| %>
  <div class="row g-3">
    <div class="col-md-6">
      <%= f.input :last_name, label: "Nom", input_html: { class: "form-control", id: "inputLastName" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :first_name, label: "Prénom", input_html: { class: "form-control", id: "inputFirstName" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :email, label: "Email", input_html: { class: "form-control", id: "inputEmail" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :city, label: "Ville", input_html: { class: "form-control", id: "inputCity" } %>
    </div>

    <div class="col-12">
      <%= f.input :address, label: "Adresse", input_html: { class: "form-control", id: "inputAddress", placeholder: "7 Bd Massira Anfa.." } %>
    </div>

    <div class="col-12">
      <%= f.input :message, as: :text, label: "Message", input_html: { class: "form-control", id: "inputMessage" } %>
    </div>

    <div class="col-12">
      <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>
