<%= render partial: "shared/navbar"%>
<div class="container my-5">
  <div class="text-center">
    <h1 class="display-4 font-weight-bold mb-4">Trouvez Votre Bien De Rêve</h1>
    <p class="lead">Découvrez une sélection exceptionnelle de biens immobiliers.</p>
  </div>
</div>
<%= render partial: "shared/offer_card"%>
<%= render partial: "shared/offer_card"%>
<%= render partial: "shared/offer_card"%>
<%= render partial: "shared/offer_card"%>
<%= render partial: "shared/footer"%>
